In [ ]:
#ques 1: Explain the key features of Python that make it a popular choice for programming ?
#answer  1. general purpose language
#        2. easy to read and learn
#        3. lot of libraries in python
#        4. versatile
#        5. huge active community
#        6. deal with object oriented as well as functional and procedural languages

In [1]:
#ques 2:  Describe the role of predefined keywords in Python and provide examples of how they are used in a 
#         program?
#answer   python keywords are some predefined and reserved words that have special meaning.
#         keywords are used to define the syntax of coding.
#         keyword can not be used as identifier, functions or variables.
#         All the keywords in python are written in lowercase axcept True and False.
#         there are 35 keywords in pyhton.
# examples how they used in python program
a = True - False #example 
a

1

In [2]:
#ques 3.  Compare and contrast mutable and immutable objects in Python with examples?
#answer   Objects whose state or value can be changed after they createdare called mutable objects,alse called item assignment
#         Immutable oblects can not be changed after creation 
#         list is mutable object which support item assignment
list = [1,2,3.5,3+5j,"True","preeti"]   # example of mutable object
list

[1, 2, 3.5, (3+5j), 'True', 'preeti']

In [3]:
list[5]

'preeti'

In [4]:
list[5]="manisha"
list[5]

'manisha'

In [5]:
list

[1, 2, 3.5, (3+5j), 'True', 'manisha']

In [6]:
# string is immutable object
a= "preeti"
a

'preeti'

In [7]:
a[0]

'p'

In [8]:
a[5]

'i'

In [9]:
a[5]="y"   # example of immutable oblect that can not be support item assignment
a

TypeError: 'str' object does not support item assignment

In [10]:
#ques 4.  Discuss the different types of operators in Python and provide examples of how they are used?
#answer   1. Arithmatic operator(+,_,*,/,%,**, floor operation)
add=10+15
add

25

In [11]:
# 2. comparison operator(<, >, <=, >=, ==, !=)
2==2

True

In [12]:
10>=2

True

In [13]:
#3logical operators(and, or, not)
True and True

True

In [14]:
True and False

False

In [15]:
not True

False

In [16]:
#4 assignment operator(=, +=, -=,etc)
b=12
b+4

16

In [18]:
b= "preeti"
"r" in b

True

In [19]:
#5. Identity operator(compare the location of two objects)
a=4
b=5
a is b

False

In [21]:
a=2
b=a
a is b

True

In [22]:
#6 bitwise operator( operations on bit level)
#bitwise and, bitwise or, bitwise xor
10&10

10

In [23]:
18&3

2

In [24]:
18|3

19

In [25]:
3|5

7

In [26]:
5^3

6

In [27]:
#7. shift operator(left shift, right shit)
35<<3

280

In [28]:
280>>3

35

In [29]:
#ques 5. Explain the concept of type casting in Python with examples?
#answer  Typecasting is the method to convert the python variable datatype into a certain datatype in order to perform the required 
#        operations by users.
# there are two type of typecasting in python
# 1. Implicit:- python convert tha datatype into another datatye automatically,users do not hace to involve in thid process 
# 2. Explicit
a="2"
type(a)

str

In [30]:
a=2
a

2

In [32]:
b=3
a+b

5

In [4]:
#ques 6.  How do conditional statements work in Python? Illustrate with examples?
#         it is the statements in python that provide a choice for the controlflow based on a condition.
#         it hrlp you to code decisions based on preconditions
#  1. if statement
#if condition True:
#   block o the code will be executed
num=10
if num/2==0:
    print("this is even number")

In [3]:
#2 if else statement
weather="rainy"
if(weather==("rainy")):
   print("i will not play cricket")
else:
   print("i will watch tv")

i will not play cricket

In [6]:
#if elif else statement
#syntax
#if some condition:
#elif some condition:
#else:
a=100
if a>100:
    print("number ig greater than 100")
elif a<100:
    print("number is less than 100")
else:
    print("number is equal to 100")

number is equal to 100

In [7]:
#nested if else statement:- multiple if else inside if else
x=1
y=5
if x>5:
    if y>5:
        print("both number are greater than 5")
    else:
        print("x is greater than 5 but y is smaller than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [9]:
#ques 7.  Describe the different types of loops in Python and their use cases with examples?
#answer   loop statement allows you to execute a block of code repeatedly
#         while and for loop are the type of loops in python
# while loop:- while loop is used to execute a block of statements repeatedly until a given condition is satisfied.
#syntax    while condition:
 #             block of code
n=7
i=1           #examples
while i<n:
    print(i)
    i=i+1
else:
    print("execute successfully")

1
2
3
4
5
6
execute successfully

In [13]:
n=7
i=1           #examples
while i<n:
    print(i)
    i=i+1
    if i==3:
        break
else:
    print("execute successfully")

1
2

1
2
3
4
5
6
execute successfully

In [19]:
#for loop :- iterate over a sequence of elements
# syntax
# for i in "preeti":
#  print(i)
a="preeti"
for i in a:
    print(i)

p
r
e
e
t
i

In [25]:
for i in range(4):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****